body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
	width: 640px;
	overflow-x: hidden;
}
a {
	color: #777;
	text-decoration: none;
}
a:hover, button:hover, input:hover {
	text-shadow: 3px 3px 7px #ccc;
}
header {
	border-bottom: 3px solid #ccc;
}
header, article, aside {
	background-color: #fff;
}
section {
	padding: 20px ;
		background-image: url('../images/cork-wallet.png');
}

#name_container {
	background-color: #4aaaa5;
	color: #fff;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 30px 0;
}
#name_container a {
	color: #fff;
}
h1, h2, .portfolio_label {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}

nav {
	padding: 25px 0;
	width: 100%;
}
.nav_link {
	text-align: center;
	font-size: 18px;
	width: 33%;
	display: block;
	float: left;
	}
.nav_link a {
	color: #999999;
}
.border-right {
	border-right: 1px solid #e7e7e7;
}

#about_me, #contact_area, #portfolio_area {		
	border: 2px solid #e7e7e7;
	padding: 35px 30px;
	background-color: #fff;
}
#about_me h2, #contact_area h2, #portfolio_area h2 {
	color: #4aaaa5;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 3px solid #e7e7e7;
	padding: 0 0 25px 0;
	margin: 0 0 25px 0;
}
#profile_image {
	margin: 0 0 20px 0;
	width: 100%;
}
#profile_image img {
	width: 100%;
}
.box_text {
	font-size: 18px;
	line-height: 175%;
	margin: 0;
	padding: 0;
}
.box_text p {
	margin: 0 0 15px 0;
	padding: 0;
}
aside {
	margin: 30px 0 120px 0;	
}
#connect_box {
	border: 2px solid #e7e7e7;
	padding: 30px 30px;
}
#connect_box h2 {
	color: #4aaaa5;
	font-size: 22px;
	font-weight: bold;
	border-bottom: 2px solid #e7e7e7;
	padding: 0 0 25px 0;
	margin: 0 0 25px 0;	
}
.social_icon img {
	margin: 0 5px 0 0;
	height: 60px;
	width: 60px;
}
footer {
	border-top: 10px solid #4aaaa5;
	text-align: center;
	padding: 40px 0;
	background-color: #666;
	color: #e7e7e7;
	font-size: 12px;
	position: fixed;
	bottom: 0;
	opacity: .85;
	box-shadow: 0 15px 80px #000;
	width: 640px;
}

/* styles specific to portfolio page */

.portfolio_thumb {
	margin: 0 0 60px 0;
	width: 100%;
	padding: 0;
	position: relative;
}
.portfolio_thumb img {
	width: 100%;
}
.portfolio_label {
	background-color: #4aaaa5;
	color: #fff;
	font-size: 24px;
	text-align: center;
	padding: 20px 0;
	position: absolute;
	bottom: 10px;
	width: 100%;
}

/* styles specific to contact page */
#contact_form input, #contact_form textarea {
	width: 100%;
	padding: 10px;
	margin: 15px 0;
	border: 1px solid #e7e7e7;
}
label {
	display: block;
	font-size: 18px;
	}
button {
	background-color: #4aaaa5;
	padding: 10px 30px;
	color: #fff;
	font-size: 18px;
	border: none;
}


.clear {
	overflow: auto;
}

/* styles above optimized for width under 640px */  
 
@media only screen and (min-width: 768px) {
/* styles if width is 769px or wider */
	body {
		width: 100%;
	}
	#name_container, nav {
 		float: left;
 		padding: 30px 0;
 	}
 	nav {
 		width: 33%;
 		float: right;
 	}
 	#name_container {
 		width: 33%;
 		max-width: 250px;
 		margin: 0 0 0 20px;
 	}
	section {
		clear: left;
		padding: 40px 20px 20px 20px;
	}
	#profile_image {
	width: 50%;
	float: left;
	margin: 0 20px 0 0;
	}
	#profile_image img {
		width: 50%;
	}
	footer {
		width: 100%;
	}

	/* porfolio styles for 641 - 768 */
	.portfolio_thumb {
		width: 315px;
		float: left;
		margin: 0 0 40px 0;
	}
	.portfolio_thumb.right {
		margin-left: 40px;
	}

}
 @media only screen and (min-width: 980px) {
	/* styles if width greater than 981px  */
	body {
		width: 980px;
	}
	#name_container, nav {
 		float: left;
 		padding: 30px 0;
 	}
 	#name_container, article  	{
 		position: relative;
 		left: 120px;
 	}
 	article {
 		width: 420px;
 		float: left;
 		margin: 0 40px 0 0;
 	}
 	aside {
 		float: right;
 		width: 270px;
 		margin: 0 100px 0 0;
 	}
 	#name_container {
 		width: 33%;
 		max-width: 250px;
 		margin: 0 0 0 20px;
 	}
	#profile_image {
	width: 100%;
	margin: 0 20px 20px 0;
	}
	#profile_image img {
		width: 100%;
	}
	/* portfolio styles for this width */
	.portfolio_thumb {
		width: 100%;
		margin: 0 0 60px 0;
	}
	.portfolio_thumb.right {
		margin: 0 0 60px 0;
	}
 @media only screen and (min-width: 1024px) {
	/* styles if width greater than 1024px  */

	body {
		width: 100%;
	}
	#name_container, nav {
 		float: left;
 		padding: 30px 0;
 	}
 	nav {
	    position: absolute;
	    right: 0;
	    padding: 35px 0;
	    height: 30px;
 	}
 	.nav_link {
 		width: 25%;
 	}
 	#name_container, article  	{
 		position: relative;
 		left: 120px;
 	}
 	article {
 		width: 650px;
 		float: left;
 		margin: 0 40px 0 0;
 	}
 	section {
 		height: 100%;
 	}
 	aside {
 		float: left;
 		width: 270px;
 		margin: 0 0 0 120px;
 	}
 	#name_container {
 		width: 33%;
 		max-width: 250px;
 		margin: 0 0 0 20px;
 	}
	#profile_image {
	width: 200px;
	margin: 0 20px 20px 0;
	}

/* styles specific to portfolio page */
	.portfolio_thumb {
		width: 275px;
		float: left;
		margin: 0 0 0 0;
	}
	.portfolio_thumb.right {
		margin-left: 35px;
	}



}
